<!-- <form action = "" method = "post">
    {% csrf_token %}
    {{form }}
    <input type="submit" value=Submit">
</form>

<form action = "" method = "POST">
    {% csrf_token %}
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name">
    <input type="submit" value="OK">
</form> -->
<!-- HOME FOR Django Administration EXERCISE ---------------------->
<!-- <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form> -->
<!-- HOME FOR Django Administration EXERCISE ---------------------->

<!-- <form action = "" method = "get">
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name">
    <input type="submit" value="OK">
</form> -->

<!-- HOME FOR FORMSET EXERCISE ---------------------->
<!-- <form method="POST" enctype="multipart/form-data">
    {{formset.management_data}}
    {% csrf_token %}
    {{ formset.as_p }}
    <input type="submit" value="Submit">
</form> -->
<!-- HOME FOR FORMSET EXERCISE ---------------------->


<!-- HOME FOR MODEL FORMSET EXERCISE ---------------------->
<form method="POST" enctype="multipart/form-data">
    {{formset.management_data}}
    {% csrf_token %}
    {{ formset.as_p }}
    <input type="submit" value="Submit">
</form>
<!-- HOME FOR MODEL FORMSET EXERCISE ---------------------->